*{
  box-sizing: border-box;
  font-family: "Noto Sans CJK TC";
}

body{
  margin:0;
}

header{
  position:sticky;
  top:0px;
  background-color: white;
  z-index: 3;
}

div.logo_nav{
  width:1200px;
  margin:0 auto;
}

/* =====漢堡按鈕======= */

button.hamburger{
  display: none;
}


img.logo{
  height:100%;
  width: 150px;
  padding:5px 5px;
}

div.small_things img{
  height:30px;
  width:auto;
  vertical-align: middle;
}

div.small_things a img:last-child{

  height:27px;
}

div.small_things{
 width:300px;
 margin:auto 0;
 text-align: right;
}

div.small_things span a{
  text-decoration: none;
  color:black;
  font-size: 16px;
  padding-left: 3px;
  padding-bottom: 5px;
 
}
div.small_things>span{
  height: 20px;
}



div.lang{
  position:relative;
  display: inline-block;
}

ul.lang {
  list-style: none;
  display: none;
  position: absolute;
  background-color: black;
  margin: 0;
  padding:3px 3px;
  z-index: 2;
}

ul.lang li a{
  color:white;
  cursor: pointer;
}


div.lang:hover ul.lang {
  display:block;
  cursor: pointer;
}



ul.nav>li {
  list-style: none;
  display: inline-block;
  font-size: 16px;
  padding:0 5px; 
}

ul.nav>li a{
text-decoration: none;
}

ul.nav>li>a{
  color:black;
}

div.spot a,div.gift a{
  color:black;
}
div.spot a:hover,div.gift a:hover{
  color:#be3128;
  font-weight: bold;
}

div.spot,div.gift{
  position:relative;
  z-index: 2;
}

ul.spot,ul.gift {
  list-style: none;
  background-color:#1a1a1a;
  padding:0;
  display: none;
  position: absolute;
  width:100%;
  z-index: 2;
}

ul.spot a, ul.gift a{
  text-decoration: none;
  color: white;
  padding:0;
}

ul.spot,ul.gift{
  text-align: center;
}

div.spot>a:hover{
  color: #be3128;
  font-weight: bold;
}

div.spot:hover ul.spot{
cursor: pointer;
display: block;
}

div.gift:hover ul.gift{
  cursor:pointer;
  display:block;
}

div.gift>a:hover{
  color: #be3128;
  font-weight: bold;
}

ul.nav>li>a:hover{
  color: #be3128;
  font-weight: bold;
}


img.cute{
  width:20px;
  padding-left: 3px;
  visibility: hidden;
}

ul.nav li:first-child:hover img.cute1{
  visibility: visible;

}

ul.nav li:nth-child(2):hover img.cute2{
  visibility: visible;
}

ul.nav li:nth-child(3):hover img.cute3{
  visibility: visible;
}

ul.nav li:nth-child(4):hover img.cute4{
  visibility: visible;
}

ul.nav li:nth-child(5):hover img.cute5{
  visibility: visible;
}

ul.nav li:nth-child(6):hover img.cute6{
  visibility: visible;
}





@media (min-width:768px) and (max-width:992px){
  div.logo_nav{
    font-size: 14px;
    max-width: 100%;
  }
  div.small_things{
    width:150px;
  }

  ul.nav{
    width:600px;

  }

  ul.nav li{
    padding:5px;
  }

  img.cute{
    display: none;
  }

  div.small_things img{
    width:28px;
  }

  div.small_things span{
    font-size: 14px;
  }

  img.logo{
    width:125px;
    padding:0;
    margin:0;
    /* transform: translateX(300%); */
  }

  img.logo,ul.nav{
    display: block;
  }
  ul.nav,div.small_things{
    display: inline-block;
  }

}


/* =======漢堡列====== */

div.hamburger_small img{
  width:28px;
  display: inline-block;

}



div.hamburger_nav li{
  list-style: none;
  width:300px;
  background-color:hsla(0,0%, 0%, .8);
  padding: 10px 20px;
  text-align: left;
  color:white;
}

ul.hamburger_nav>li:last-child{
  background-color:white;
  color:#1a1a1a;
  border:1px solid hsla(0,0%, 0%, .8);
}

div.hamburger_nav li:last-child a{
  color:#1a1a1a;
}

div.hamburger_nav li a{
  text-align: center;
  color:white;
  text-decoration: none;
}

div.hamburger_nav li>a:hover{
  font-weight: bold;
}

ul.spot_ham li ,ul.gift_ham li{
  background-color: white;
  color:#1a1a1a;
  border-bottom: 1px solid hsla(0,0%, 0%, .8);
  width:250px;
}
ul.spot_ham li a ,ul.gift_ham li a{
  color:#1a1a1a;
}

ul.spot_ham li a:hover ,ul.gift_ham li a:hover{
  font-weight: bold;
  color: #1a1a1a;
}

div.spot_ham,div.gift_ham{
  position: relative;
}

ul.spot_ham,ul.gift_ham{
  display: none;
  position: absolute;
  z-index: 2;
}

div.spot_ham:hover ul.spot_ham{
  display: block;
}

div.gift_ham:hover ul.gift_ham{
  display: block;
}

div.lang_ham{
  position: relative;
  width:30px;
}

ul.lang_ham li{
  background-color: white;
  width:200px;
  border: 1px solid #1a1a1a;
}

ul.lang_ham li a{
  color:#1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

ul.lang_ham{
  display: none;
  padding: 3px 3px;
}

div.lang_ham:hover ul.lang_ham{
  display: block;
}
div.hamburger_small img, div.hamburger_small span{
  display: inline-block;
  vertical-align: middle;
}

div.lang_ham,div.hamburger_small a img,div.hamburger_small span{
  display: inline-block;
}
div.hamburger_small span:hover{
  font-weight: bold;
}

button.hamburger{
  right:0;
  position: relative;
  z-index: 4 !important;
}

div.hamburger_nav{
  display:block;
  position: absolute;
  transform: translateX(100%);
  right:0;
  z-index: 4 !important;
  display: none;
}




/* ============漢堡列結束============ */





@media (min-width:576px) and (max-width:768px){

  div.logo_nav{
    max-width:100% ;
    text-align: center;
  }

  img.logo{
    width:200px;
  }
  button.hamburger{
    display: inline-block;
    right: 0;
    transform: translateX(250%);
  }
  /* 漢堡按鈕的位置 */

  div.hamburger_nav{
    display:block;
    position: absolute;
    /* transform: translateX(100%); */
    right:0;
    z-index: 2;
    display: none;
  }

  div.hamburger_nav.-on{
    display:block;
    position: absolute;
    transform: translateX(0%);
    right:0;
    z-index: 2;
    
  }

  button.hamburger,img.logo{
    display: inline-block;
  }
  

  ul.nav{
    display: none;
  }

  div.small_things{
    display: none;
  }

}

@media (max-width:575px){
  div.logo_nav{
    max-width:100% ;
    text-align: center;
  }


  img.logo{
    width:150px;
    margin-left: 15px;

  
  }
  button.hamburger{
    display: inline-block;
    right: 0;
    transform: translateX(115%);
    
  }
  /* 漢堡按鈕的位置 */

  /* 漢堡列秀出 */

  div.hamburger_nav.-on{
    display:block;
    position: absolute;
    transform: translateX(-5%);
    right:0;
    z-index: 2;
    
  }

  button.hamburger,img.logo{
    display: inline-block;
  }
  

  ul.nav{
    display: none;
  }

  div.small_things{
    display: none;
  }

}

div.black{
  background-color: #1a1a1a;
}


footer{
  width:1200px;
  margin: 0 auto;
  color:white;
  font-size: 12px;
 
}

footer span{
  display: block;
}

footer a{
  text-decoration: none;
  color:white;
  font-size: 14px;
}
div.roll1,div.roll2,div.roll3,div.contact,div.p{
  display: inline-block;
  padding:10px 10px;
  vertical-align: top;
  transform: translateX(60%);
}

div.roll1,div.roll2,div.roll3{
  margin-top: 10px;
}

div.p{
  width:200px;
}

div.contact span{
  font-size: 16px;
  padding:10px;
  font-weight:400;

}

div.contact img{
  width:40px;
  padding:5px;
}

img.footer{
  width:300px;
  text-align: right;
  margin-right: 0;
  transform: translateX(50%);
}

div.roll_parents{
  display: none;
}

@media (min-width:768px) and (max-width:992px){
  div.black{
    max-width: 100%;
  }

  footer{
    max-width:100%;
  }

  img.footer{
    display: none;
   /* display: inline-block;
   justify-content: center;
   max-width: 300px;
   margin-right:0;
   left:0; */
  }

}

@media (min-width:576px) and (max-width:767px){
  div.black{
    max-width: 100%;
  }

  footer{
    max-width: 100%;
  }

  div.roll_parents{
    max-width: 100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    column-gap: auto;
    justify-content:center;
    padding-top: 20px;
    padding-left: 50px; 
    font-size: 18px;
  } 


  div.roll1,div.roll2,div.roll3{
    display: none;
  }
  div.contact,div.p{
    display: block;
    margin-left: 0;
  }

  div.contact{
    max-width: 200px;
    margin-top: 10px;
  }

  div.contact img{
    width:50px;
    height:auto;
    padding:10px;
  }
  div.p,img.footer{
    display: inline-flex;
    justify-content: left;

  }
  
  img.footer{
    overflow: hidden;
    right: 0;
    width:240px;
  }
}

@media (max-width:575px){
  div.black{
    max-width: 100%;
  }

  footer{
    max-width: 100%;
  }

  div.roll_parents{
    max-width: 100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    column-gap: auto;
    justify-content:center;
    padding-top: 20px;
    padding-left: 50px; 
    font-size: 18px;
  } 


  div.roll1,div.roll2,div.roll3{
    display: none;
  }
  div.contact,div.p{
    display: block; 
   
  }

  div.contact{
    max-width: 200px;
    margin-top: 10px;
    margin: 0,auto;
  }

  div.contact img{
    width:50px;
    height:auto;
    padding:10px;
  }
  img.footer{
    max-width:200px;
    margin-top: 10px;
   transform: translateY(50%);
  }
  div.p,img.footer{
    display: inline-block;
  
  }

  div.p{
    margin-right: 5px; 
    transform: translateX(-0.25%); 
    padding-left: 5px;
    margin-left: 15px ;
    max-width:150px;
  }
 
  
}