body{
    margin:0;
}

main{
    background-color: #f1d9c9;
    font-size: 0;
}

header{
    position: relative;
    z-index: 2;
}

li.food a{
    color: #be3128 !important;
    font-weight: bold;
}

img.cute2{
    visibility: visible;
}

/* ===庶民美食=== */

div.everyday_food{
    width:1200px;
    margin:0 auto;
    height:1400px;

}

div.part1>img{
    height:400px;
}

div.part1{
    height:500px;
}


div.back{
    position: relative;
    z-index: 1;
    background-color:hsla(0,0%,0%,.5);
    height:398px;
    width:588px;
    transform: translateY(-100.5%);
}

div.part_p{
   transform: translateY(-700px);
   position: relative;
   z-index: 3;
   
}

div.part1,div.part2{
    display: inline-block;
}





/* ===慈聖宮廟口美食=== */

div.part2{
    height:500px;
    width:600px;
    transform: translateY(-9%);
}

div.part2>img{
    height:400px;
}



div.back2{
    position: relative;
    z-index: 1;
    background-color:hsla(0,0%,0%,.5);
    height:398px;
    width:600px;
    transform: translateY(-100.5%);
}




div.part_p{
    background-color: hsla(0,0%,100%,.7);
    border:1px solid black;
    height:250px;
    width: 400px;
    padding:10px 25px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
}




span.fav img{
    width:20px;
    height:20px;
}

h2,span.fav{
    display: inline-block;
}


span.favhover{
    display:none;
}

span.fav:hover span.favhover{
    display: inline;
}

span.fav:hover img.favimg{
    display: none;
}

h1{
    padding: 15px;
}

/* ===永樂市場內部美食=== */

div.part3{
    height:500px;
    transform: translateY(-110%);
    text-align: left;
    margin-top: -30px;
}


div.part3 >img{
    height:400px;
    width:1195px;
}

div.back3{
    width:1195px;
    height:400px;
    position: relative;
    z-index: 2;
    background-color:hsla(0,0%,0%,.4);
    transform: translateY(-100%);  
}

div.part3_img img{
    height:70px;    
    display: inline-block;
    border-radius: 10px;
    margin-top: 60px;
    
}

div.part_3p{
    margin-left: 0;
    margin-top: -40px;
    font-size: 16px;
}

div.part1_rwd,div.part2_rwd,div.part3_rwd{
    display: none;
} 


@media (min-width:768px) and (max-width:992px){

    div.everyday_food{
        max-width: 100%;
        margin: 0 auto;
        height:2400px;
    }

    div.part1,div.part2,div.part3,div.part4,div.part5 {
        display: none;
    }

    div.part1_rwd,div.part2_rwd{
        display: block;
        font-size: 16px;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    div.part1_rwd>img,div.part2_rwd>img{
        width:550px;
    }

    div.part_prwd{
        background-color: hsla(0,100%,100%,.7);
        border:1px solid black;
        padding:5px 20px;
        width:450px;
        position: absolute;
        transform: translateY(-125%);
    }
    div.part_prwd h2{
        width:450px;
        text-align: left;
    }

    div.part3_rwd{
        max-width: 100%;
        font-size: 16px;
        display: block;
    }

    div.part_3prwd{
        background-color: hsla(0,100%,100%,.7);
        border:1px solid black;
        padding:5px 20px;
        width:450px;
        position: absolute;
        transform: translateY(-125%);
        
    }

    div.part3_rwd>img{
        max-width: 100%;
    }


    div.part3_imgrwd img{
        height:60px;    
        display: inline-block;
        border-radius: 10px;
        margin-top: 60px;
    }

    div.part3_imgrwd {
        max-width: 100%;
        text-align: right;
        transform: translateY(-105%);
        margin-right: 10px;
    }

    div.part_3prwd {
     margin-top:30px;
    }


}

@media (min-width:576px) and (max-width:767px){
    div.everyday_food{
        max-width: 100%;
        margin: 0 auto;
        height:3800px;
    }

    div.part1,div.part2,div.part3,div.part4,div.part5 {
        display: none;
    }

    div.part1_rwd,div.part2_rwd{
        display: block;
        font-size: 16px;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    div.part1_rwd>img,div.part2_rwd>img{
        width:550px;
    }

    div.part_prwd{
        background-color: hsla(0,100%,100%,.7);
        border:1px solid black;
        padding:5px 20px;
        width:450px;
        position: absolute;
        transform: translateY(-125%);
    }
    div.part_prwd h2{
        width:450px;
        text-align: left;
    }

    div.part3_rwd{
        font-size: 16px;
        display: block;
        height:450px;
      
    }

    div.part_3prwd{
        margin-top:50px;
    }
    div.part_3prwd{
        margin-top:0px;
        transform: translateY(10%);
        display: block;
        max-width: 100%;
        background-color: hsla(0,100%,100%,.7);
        border:1px solid black;
        padding:5px 20px;
        position: absolute;
        
    }

    div.part3_rwd>img{
        max-width: 100%;
    }


    div.part3_imgrwd img{
        height:50px;    
        display: inline-block;
        border-radius: 10px;
        margin-top: 60px;
       
    }

    div.part3_imgrwd {
        max-width: 100%;
        text-align: right;
        transform: translate(0%,-100%);
        margin-right: 10px;
    }


}

@media(max-width:575px){
    div.everyday_food{
        max-width: 100%;
        margin: 0 auto;
        height:3650px;
    }

    div.part1,div.part2,div.part3,div.part4,div.part5 {
        display: none;
    }

    div.part1_rwd,div.part2_rwd{
        display: block;
        font-size: 16px;
        position: relative;
        max-width: 100%;
        margin: 0 auto;
    }

    div.part1_rwd>img,div.part2_rwd>img{
        max-width: 100%;;
    }

    div.part_prwd{
        background-color: hsla(0,100%,100%,.7);
        border:1px solid black;
        padding:5px 20px;
        width:450px;
        position: absolute;
        transform: translateY(-125%);
    }
    div.part_prwd h2{
        width:450px;
        text-align: left;
    }

    div.part3_rwd{
        font-size: 16px;
        display: block;
        height:400px;
    }

    div.part_3prwd{
        margin-top:0px;
        display: block;
        max-width: 100%;
        background-color: hsla(0,100%,100%,.7);
        border:1px solid black;
        padding:5px 20px;
        position: absolute;
        
        
    }

    div.part3_rwd>img{
        max-width: 100%;
    }


    div.part3_imgrwd img{
        height:40px;    
        display: inline-block;
        border-radius: 10px;
        margin-top: 60px;
    }

    div.part3_imgrwd {
        max-width: 300px;
        text-align: right;
        transform: translate(-40%,-100%); 
        margin-right: 10px;
    }


}


/* ===古早餅弟免煎嗲=== */

div.part4{
    width:600px;
    margin-left: 30px;
    position: relative;
    font-size:16px;
    transform: translate(0,-108.5%);
  
}

div.part_4p{
    width:250px;
    height:150px;
    border:1px solid black;
    background-color: hsla(0,0%,100%,.6);
    text-align: center;
    padding:10px 15px;
    margin-bottom: 10px;
    font-size: 16px;
    position: absolute;
   
}

div.part4_img{
    width:600px;
}

div.part4_img img:first-child,div.part4_img img:last-child{
    height:300px;
    width: 280px;
    display: inline-block;
}



div.back4{
    width:250px;
    height:150px;
    background-color: hsla(0,0%,0%,.4);
    font-size: 16px;
    position: relative;
    z-index: 2;
    transform: translate(50%,-130%);

} 

div.back5{
    width:250px;
    height:150px;
    background-color: hsla(0,0%,0%,.4);
    transform: translate(45%,-130%); 

} 


div.part4>img,div.back4{
    display: inline-block;
} 



/* ===永樂車輪餅=== */

div.part_5p{
    width:250px;
    height:150px;
    border:1px solid black;
    background-color: hsla(0,0%,100%,.6);
    text-align: center;
    padding:10px 15px;
    margin-bottom: 10px;
}

div.part5_img img{
    height:300px;
}

div.part5{
    position: relative;
    transform: translate(100%,-210%);
    font-size: 16px;
    width:600px;
    margin-left: 30px;
}

div.part5_img{
    width:550px;
}

div.part4_rwd,div.part5_rwd{
    display: none;
}

@media (min-width:768px) and (max-width:992px){
    div.part4_rwd,div.part5_rwd{
        display: block;
        height:auto;
    }

    div.part4,div.part5{
        display: none;
    }
    
   div.part4_imgrwd img,div.part5_img_rwd img{
       width:350px;
   }


   
   div.part_45prwd {
       font-size: 16px;
       border: 1px solid black;
       position:relative;
       max-width: 700px;
       padding:5px 15px;
       background-color: hsla(0,0%,100%,.7);
       
   }

   div.part5_rwd{
       margin-top: 20px;
   }

   


}


@media (min-width:576px) and (max-width:767px){

    div.part4_rwd,div.part5_rwd{
        display: block;
        height:auto;
    }

    div.part4,div.part5{
        display: none;
    }
    
    div.part4_imgrwd img,div.part5_img_rwd img{
        max-width: 500px;
    }
 
 
    
    div.part_45prwd {
        font-size: 16px;
        border: 1px solid black;
        position:relative;
        max-width: 100%;
        padding:5px 15px;
        background-color: hsla(0,0%,100%,.7);
        
    }
 
    div.part5_rwd{
        margin-top: 20px;
    }
 
}

@media(max-width:575px){
    div.part4_rwd,div.part5_rwd{
        display: block;
        height:auto;
    }

    div.part4,div.part5{
        display: none;
    }
    
    div.part4_imgrwd img,div.part5_img_rwd img{
        max-width: 100%;
    }
 
 
    
    div.part_45prwd {
        font-size: 16px;
        border: 1px solid black;
        position:relative;
        max-width: 100%;
        padding:5px 15px;
        background-color: hsla(0,0%,100%,.7);
        
    }
 
    div.part5_rwd{
        margin-top: 20px;
    }
 
}

/* ===精緻美食=== */



div.fancy_food{
    font-size: 16px;
    width:1200px;
    margin: 0 auto;
    height:1600px;
    
}

div.f{
    border:1px solid black;
    width:580px;
    height:700px;
}

img.main{
    height:400px;

}

img.main{
    margin-top: 30px;
    margin-left: 25px;

}

div.f p{
    width:550px;
    padding: 5px 20px;
}

div.f h2{
    padding-left: 25px;
}
span.address img{
    width:18px;
    margin-right: 5px;
    margin-left: 20px;
}

span.address{
    margin-right: 10px;
}
div.f h2,span.address{
    display: block;
}

span.address,span.fav{
    display: inline-block;

}




div.fancy1,div.fancy2{
    display: inline-block;
}

div.fancy2,div.fancy4{
    margin-left: 20px;
}

div.fancy2{
    transform: translateY(-3%);
}

img.main3,img.main4{
    width: 533.33px;
   
}


div.fancy3,div.fancy4{
    display: inline-block;
    margin-top: 30px;
}

div.fancy4{
   transform: translateY(-3%);
}

@media (min-width:768px) and (max-width:992px){
    
    div.fancy_food{
        max-width: 100%;
        height:auto;
    }
  
    div.fancy1,div.fancy2{
      display: block;
  }

  div.f{
      margin: 0;
      margin-bottom: 20px;
  }

  div.fancy2{
      margin: 0;
  }


}

@media (min-width:576px) and (max-width:767px){
    div.fancy_food{
        max-width: 100%;
        height:auto;
    }
  
    div.fancy1,div.fancy2{
      display: block;
  }

  div.f{
      margin: 0;
      margin-bottom: 20px;
      max-width: 100%;
  }

  div.fancy2{
      margin: 0;
  }

  div.f>img{
      max-width: 100%;
  }

  
}

@media(max-width:575px){
    div.fancy_food{
        max-width: 100%;
        height:auto;
    }
  
    div.fancy1,div.fancy2{
      display: block;
    }

  div.f{
      margin: 0;
      margin-bottom: 20px;
      max-width: 100%;
    }

  div.fancy2{
      margin: 0;
    }

  div.f>img{
      max-width: 100%;
      margin:0;
      border-bottom: 1px solid black;
    }
    
    div.f p{
        max-width: 100%;

    }

}