body{
  margin:0;
  position: relative;
}


/* div.logo_nav{
  width:1100px;
}

div.small_things{
  width:200px;
} */


main.gift{
  background-color:#d4ac86; 
}

.swiper-container {
  width: 800px;
  height: auto;
  overflow: hidden ;
  margin: 0 auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.shop{
  width:1000px;
  margin: 0 auto;
}

div.sec_back{
  width: 1100px;
  background-color: #be3128;
  margin: 0 auto;
  padding-bottom: 30px;
}

div.gift>a{
  color:#be3128;
  font-weight: bold;
}
      

/* 內文開始 */
.shop{
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  gap:50px 20px;
}
.shop > div {
  
  display: block !important;
  margin: 0 !important;
}
.shop > div > img {
  width: 100% !important;
  object-fit: cover;
  object-position: center;
}

      img.shop_img{
        height:300px;
      
      }

      div.shop_first{
        position: relative;
      }

      div.shop_shop{

        background-color: hsla(0,0%,100%,.7);
        height:300px;
        width: 400px;
        text-align: left;
        border:1px solid black;
        margin-left: 25px;
        display: none;
        position: absolute;
        z-index: 2;
        padding:5px 20px;

      }

      div.shop1{
        transform: translateY(-100%);
      }

      img.shop_one:hover{
        border: 1px solid #be3128;
      }


      div.shop_first:hover div.shop1{
        display: block;
      }

      

      div.shop1 h2,div.shop1 img{
        display: inline-block;
        margin-top: 50px;
      }

      div.shop_shop img{
        width:20px;
      }

      span.favhover{
        width:20px;
        display: none;
      }



      span.fav:hover span.favhover{
       display: inline;
      }

      span.fav:hover img.favimg{
        display: none;
       
      }


      img.shop_two{
        height:300px;
      }

      div.shop_second{
        position: relative;
        display: inline-block;
      }

      div.shop2{
        transform: translateY(-100%);
      }

      img.shop_two:hover{
        border: 1px solid #be3128;
      }

      div.shop_second:hover div.shop2{
        display: block;
      }

      div.shop2 h2,div.shop2 img{
        display: inline-block;
        margin-top: 50px;
      }

      div.shop2 img{
        width:20px;
      }


      div.shop2 img:hover span.favhover{
       display: inline;
      }

      div.shop_first,div.shop_second{
        display: inline-block;
      }

      



      /* 3 */

      img.shop_three{
        height:300px;
      }

      div.shop3{
        background-color: hsla(0,0%,100%,.7);
        height:300px;
        width: 400px;
        text-align: left;
        border:1px solid black;
        margin-left: 25px;
        transform: translate(0%,-100%);
        display: none;
        position: absolute;
        z-index: 2;
        padding:5px 20px;
    
      }

      img.shop_three:hover{
        border: 1px solid #be3128;
      }

      img.shop_three:hover div.shop3{
        display: block;
      }

      div.shop3 h2,div.shop3 img{
        display: inline-block;
        margin-top: 50px;
      }

      div.shop3 img{
        width:20px;
      }


      div.shop3 img:hover span.favhover{
       display: inline;
      }

      div.shop_third,div.shop_forth{
        display: inline-block;
      }

      div.shop4{
        transform: translateY(-100%);
        padding-bottom: 20px;
      }

      h2,span.fav img{
        display:inline-block;
      }

      h2{
        margin-top:50px;
      }

      div.shop_fifth>img,div.shop_sixth>img{
        width:450px;
      }

      div.shop5,.shop6,.shop7,.shop8,.shop9,.shop10,.shop11,.shop12{
        transform: translateY(-100%);
      }

      div.shop_fifth,div.shop_sixth{
        display: inline-block;
      }

      div.shop6 p{
        padding-bottom: 20px;
      }

      div.seventh,div.eighth{
        display: inline-block;
      }

      div.seventh {
        margin-left: 25px;
      }



      div.shop7{
        margin-right: -10px;
        margin-top:-10px;      
      }


      div.shop8 p {
        padding-bottom: 30px;
      }



      div.eighth{
        margin-left: 50px;
      
      }

      div.ninth,div.tenth{
        display: inline-block;
      }

      div.eleventh,div.twelfth{
        display: inline-block;
      }

      div.shop_third:hover div.shop3{
        display: block;

      }

      div.shop_forth:hover div.shop4{
        display: block;
      }

      div.shop_fifth:hover div.shop5{
        display: block;
      }

      div.shop_sixth:hover div.shop6{
        display: block;
      }

      div.seventh:hover div.shop7{
        display: block;
      }

      div.eighth:hover div.shop8{
        display: block;
      }

      div.ninth:hover div.shop9{
        display: block;
      }

      div.tenth:hover div.shop10{
        display: block;
      }

      div.eleventh:hover div.shop11{
        display: block;
      }

      div.twelfth:hover div.shop12{
        display: block;
      }

      img.shop_img:hover{
        border: 1px solid #be3128;
      }

      div.pagination_block{
        display: inline-block;
        margin: 20px 0;
      }
      div.pagination_block > ul.pagination{
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 0;
      }
      div.pagination_block > ul.pagination > li{
        display: inline-block;
      }
      div.pagination_block > ul.pagination > li > a{
        display: inline-block;
        text-decoration: none;
        
        border: 1px solid white;
        border-right: 0;          
        
        text-align: center;
        padding: 5px 10px;
        font-size: 1rem;
        color: white;
      }
      
      
      div.pagination_block > ul.pagination > li:last-child > a{
        border-right: 1px solid white;
        border-radius: 0 5px 5px 0;
      }
      
      div.pagination_block > ul.pagination > li:first-child > a{
        display: inline-block;
        border-radius: 5px 0 0 5px;
      }
      
      div.pagination_block > ul.pagination > li > a.-on{
      
        color: #1a1a1a;
      }
      
      div.pagination_block > ul.pagination > li > a:hover{
        background-color: #e9ecef;
        font-weight: bold;
      }

     

      div.pagination_block,div.button{
        display: block;
        text-align: center;
      }

      div.button{
        max-width: 100%;
        margin:0 auto;
      }

      main.gift button{
        background-color:#ffffff;
        width:200px;
        height:30px;
        text-align: center;
        border-radius: 10px;
        outline: none;
        border:1px solid#ffffff;
        box-shadow: 5px 10px 5px #1a1a1a;
        /* transform: translateX(200%); */
        
      }

      button a{
        text-decoration: none;
        color:#1a1a1a;
        padding-top: 5px 0;
    
      }

      button a:hover{
        font-weight: bold;
        font-size: 18px;
      }

      div.shop_forrwd{
        display: none;
      }

      div.black,footer{
        max-width: 100%;
      }
     div.rwd_header{
       display: none;
     }

      @media (min-width:768px) and (max-width:992px){
        div.logo_nav{
          display: none;
        }
        div.rwd_header{
          display: block;
        }
          div.shop{
            display: none;
          }

          div.sec_back{
            display: none;
          }
          div.shop_forrwd{
            display: block;
            max-width: 100%;
            margin:0 auto;
          }

          div.swiper-container{
            display: none;
          }

          div.banner img{
            max-width: 100%;
          }

          div.rwd_main{
            max-width: 100%;
            margin:0 auto;
          }

          div.shop_rwd{
            background-color: hsla(0,0%,100%,.7);
            height:300px;
            max-width: 400px;
            text-align: left;
            border:1px solid black;
            margin-left: 25px;
            transform: translate(0%,0%); 
            /* position: absolute; */
            z-index: 2;
            padding:5px 20px;
          }

          span.fav img{
            width:20px;
          }

          div.rwd_main>div{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            gap:0px 0px;
          }
  
          div.shop_forrwd > div {
            
            display: block !important;
            margin: 0 !important;
          }
          div.shop_forrwd > div > img {
            width:100%  !important;
            object-fit: cover;
            object-position: center;
            margin-bottom: 30px;
          }

          div.rwd>img{
            border:1px solid black;
            width: 400px;
            /* margin-left: 30px; */
          }

          div.pagination_block{
            padding:20px 0 ;
          }

          div.pagination_block > ul.pagination > li.a{
            background-color: #e9ecef;
          }

          div.pagination_block > ul.pagination > li > a{
            border: 1px solid black;
            color: black;
          }
          
          
          div.pagination_block > ul.pagination > li:last-child > a{
            border-right: 1px solid black;
          }
          

          div.button{
            height:100px;
            max-width: 100%;
            margin: 0 auto;
            text-align: center;
          } 
          
          button{
            background-color: #be3128;
            max-width:150px;
            text-align: center;
            margin-top:20px;
            transform: translateX(0);

            
          }

          button a{
            color:white;
            padding:10px 20px;
          }

          img.footer{
            display: none;
          }

          
      }
      
      @media (min-width:576px) and (max-width:767px){
        div.logo_nav{
          display: none;
        }
        div.rwd_header{
          display: block;
        }
        /* button.hamburger{
          transform: translateX(70%); 
       
        } */

        
        /* div.logo_nav{
          max-width: 100%;
          margin: 0 auto;
         
        } */
/* 
        img.logo{
          max-width: 100%;
          margin: auto;
        } */


        div.shop{
          display: none;
        }

        div.sec_back{
          display: none;
        }
        div.shop_forrwd{
          display: block;
          max-width: 100%;
          margin:0 auto;
        }

        div.swiper-container{
          display: none;
        }

        div.banner img{
          max-width: 100%;
        }

        div.rwd_main{
          max-width: 100%;
          margin:0 auto;
        }

        div.shop_rwd{
          background-color: hsla(0,0%,100%,.7);
          height:300px;
          width: 48%;
          text-align: left;
          border:1px solid black;
          /* margin-left: 25px; */
          /* transform: translate(8%,0%);   */
          position: absolute; 
          right:0;
          z-index: 2;
          padding:5px 10px;
        }
        div.rwd>img{
          border:1px solid black;
          margin-left: 30px;
          max-width: 95%;
          object-fit: contain;
        }

        span.fav img{
          width:20px;
        }

        div.rwd_main>div{
          display: grid;
          max-width: 100%;
          grid-template-rows: auto;
          grid-template-columns: 1fr 1fr;
          gap:0px 0px;
        }

        div.shop_forrwd > div {
          
          display: block !important;
          margin: 0 !important;
        }
        div.shop_forrwd > div > img {
          width:100%  !important;
          object-fit: cover;
          object-position: center;
          margin-bottom: 30px;
          margin-top:10px;
        }


        div.pagination_block{
          padding:20px 0 ;
        }

        div.pagination_block > ul.pagination > li.a{
          background-color: #e9ecef;
        }

        div.pagination_block > ul.pagination > li > a{
          border: 1px solid black;
          color: black;
        }
        
        
        div.pagination_block > ul.pagination > li:last-child > a{
          border-right: 1px solid black;
        }

        div.button{
          height:100px;
          max-width: 100%;
          margin: 0 auto;
          display: block;
        }
        
        /* button{
          background-color: #be3128;
          text-align: center;
          margin-top:-10px;
          transform: translateX(0%);
        } */

        button a{
          color:white;
          padding:10px 20px;
        }

        img.footer{
          width:200px;
          vertical-align: bottom;
        }

    
      }
      
      @media(max-width:575px){
        div.logo_nav{
          display: none;
        }
        div.rwd_header{
          display: block;
        }

        div.shop{
          display: none;
        }

        div.sec_back{
          display: none;
        }
        div.shop_forrwd{
          display: block;
          max-width: 100%;
          margin:0 auto;
        }

        div.swiper-container{
          display: none;
        }

        div.pagination_block{
          padding:20px 0 ;
        }

        div.pagination_block > ul.pagination > li.a{
          background-color: #e9ecef;
        }

        div.pagination_block > ul.pagination > li > a{
          border: 1px solid black;
          color: black;
        }
        
        
        div.pagination_block > ul.pagination > li:last-child > a{
          border-right: 1px solid black;
        }

        div.button{
          height:100px;
          max-width: 100%;
          margin: 0 auto;
        }
        
        main.gift button{
          background-color: #be3128;
          width:190px;
          text-align: center;
          margin-top:10px;
          transform: translateX(0%);
          
        }

        .button a{
          color:white;
          padding:10px 20px;
          text-decoration: none;
          background-color: #be3128;
          border-radius: 20px;
        }

        div.shop_forrwd{
          max-width: 100%;
        }

        div.banner img{
          max-width: 100%;
          margin-top: 30px;
        }

        /* div.rwd{
          border:1px solid #1a1a1a;
          margin-bottom: 30px;
          border-radius: 10px;
        } */
      

        div.rwd>img{
          max-width:98%;
          object-fit: cover;
          margin: 30px 1% 0 1%;
          border:1px solid #1a1a1a;
        }

        div.shop_rwd{
          border:1px solid #1a1a1a;
          background-color: hsla(0,100%,100%,.7);
          margin: 0px 1% 0 1%;
          border-radius: 10px;
          max-width: 98%;
        }

        div.shop_rwd h2{
          margin-top: 20px;
          margin-left: 10px;
        }
        div.shop_rwd p{
          margin-left: 10px;
        }




        
        
      }
      


