
body {
    position: relative;
    height: 100%;
    margin: 0;
  }
  .swiper-container {
    width: 1200px;
    height: 800px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  main{
      background-color: #f1d9c9;
      background-size: cover;
      margin:0 auto;
      text-align: center;
      overflow: hidden;
  }

  h1.h{
    margin-top: 20px;
    text-align: left;
    padding: 5px 5px;
    margin-left: 32px;
    margin-bottom: 0;
  }




img.us1,img.us2,img.us3{
  width:30px;
  padding:2px;
}

div.h1 img.red1, div.h1 img.red2{
  height:50px;
  width:auto;
}

div.h1 img.red1, div.h1 img.red2,div.h1 p{
display:inline-block;
}

div.h1 p{
  border:1px  solid#be3128;
  padding:15px 10px;
  margin-bottom: 5px;
  height:auto;
  width:450px;
  line-height: 1.5;
}

div.h1 img.logo2{
  height:auto;
  width:250px;
  margin:10px 30px;
}
div.h1 p,div.h1 img.logo2{
  display: inline-block;
}

div.h2 img{
    width:200px;
    height:auto;
    margin-right: 30px;
  }
  
  div.h2p{
    border:1px solid #be3128;
    padding:15px 10px;
    margin: 5px 5px;
    height:auto;
    width:550px;
    line-height: 1.5;
  }
  
  
  div.h2 img,div.h2p{
    display:inline-block;
    vertical-align: center;
  }


  div.h1,div.h2{
      width:1000px;
      margin:0 auto;
  }

  img.news{
    height:30px;
    padding:3px;
  }

  h1.h3{
      width:800px;
      transform: translateX(18%);
      margin-bottom: 10px;
  }
  ul.news{
      width:600px;
      margin: 0 auto;
      text-align: left;
  }

  ul.news li a{
      text-decoration: none;
      color:#be3128;
      text-align: left;
  }

  ul.news li a:hover{
      color:#1a1a1a;
      text-decoration: underline;
      font-weight: bold;

  }

  ul.news li::marker{
      color: #be3128;
  }


  h1.h a{
      text-decoration: none;
      color: black;
  }

  h1.h a:hover{
      color:#be3128;
  }


  div.h8,div.h7{
      width:1000px;
      margin:0 auto;
  }

  div.h6_imgs img{
    width:200px;
  }
  
  
  img.h6_1{
    width:225px;
  
  }
  div.h6_1{
    text-align: left;
    margin-left: 125px;
    position: relative;
    width:225px;
  
  }
  
  div.h6_1w{
    background-color: rgba(360,360,360,.5);
    width:225px;
    text-align: center;
    transform: translateY(-110%);
    position:absolute;
    display:none;
    z-index: 2;
  }

  div.h6_1w span{
      font-size: 14px;
      color:#be3128;
      font-weight: bold;
  }
  
  div.h6_1:hover div.h6_1w{
    display: block;
  }
  img.h6_1:hover{
    border:3px solid#74af5a;
  }
  
  div.h6_2{
    text-align: left;
    margin-left: 150px;
    position: relative;
    width:200px;
    transform: translate(100%,-150%);
  
  }
  
  div.h6_2w{
    background-color: rgba(360,360,360,.75);
    width:200px;
    text-align: center;
    transform: translateY(-110%);
    position:absolute;
    display:none;
    z-index: 2;
  }
  
  div.h6_2:hover div.h6_2w{
    display: block;
  }
  img.h6_2:hover{
    border:3px solid#74af5a;
  }
  
  div.h6_3{
    text-align: left;
    margin-left: 150px;
    position: relative;
    width:200px;
    transform: translate(100%,-150%);
  
  }
  
  div.h6_3w{
    background-color: rgba(360,360,360,.75);
    width:200px;
    text-align: center;
    transform: translateY(-110%);
    position:absolute;
    display:none;
    z-index: 2;
  }
  
  div.h6_3:hover div.h6_3w{
    display: block;
  }
  img.h6_3:hover{
    border:3px solid#74af5a;
  }
  
  div.h6_4{
    text-align: left;
    margin-left: 350px;
    position: relative;
    width:200px;
    transform: translate(100%,-350%);
  
  }
  
  div.h6_4w{
    background-color: rgba(360,360,360,.75);
    width:200px;
    text-align: center;
    transform: translateY(-110%);
    position:absolute;
    display:none;
    z-index: 2;
  }
  
  div.h6_4:hover div.h6_4w{
    display: block;
  }
  img.h6_4:hover{
    border:3px solid#74af5a;
  }
  
  div.h6_5{
    text-align: left;
    margin-left: 350px;
    position: relative;
    width:200px;
    transform: translate(100%,-350%);
  
  }
  
  div.h6_5w{
    background-color: rgba(360,360,360,.75);
    width:200px;
    text-align: center;
    transform: translateY(-110%);
    position:absolute;
    display:none;
    z-index: 2;
  }
  div.h6_5:hover div.h6_5w{
    display: block;
  }
  img.h6_5:hover{
    border:3px solid#74af5a;
  }
  
  div.h6_6{
    text-align: left;
    margin-left: 350px;
    position: relative;
    width:200px;
    transform: translate(200%,-550%);
  
  }
  
  div.h6_6w{
    background-color: rgba(360,360,360,.75);
    width:200px;
    text-align: center;
    transform: translateY(-100%);
    position:absolute;
    display:none;
    z-index: 2;
  }
  
  div.h6_6:hover div.h6_6w{
    display: block;
  }
  img.h6_6:hover{
    border:3px solid#74af5a;
  }
  
  div.h6_7{
    text-align: left;
    margin-left: 350px;
    position: relative;
    width:200px;
    transform: translate(200%,-550%);
  
  }
  
  div.h6_7w{
    background-color: rgba(360,360,360,.75);
    width:200px;
    text-align: center;
    transform: translateY(-100%);
    position:absolute;
    display:none;
    z-index: 2;
  }
  div.h6_7:hover div.h6_7w{
    display: block;
  }
  img.h6_7:hover{
    border:3px solid#74af5a;
  }
  
  div.h6_1,div.h6_imgs{
    margin-top: 50px;
  }
  
  div.h6{
    height: 550px;
  }
  
  div.h6_imgs{
    height:200px;
  }


  div.h6{
      width:1200px;
      font-size: 16px;
      height:450px;
      margin: 0 auto;
  }

  div.shop>img{
      width:350px;
  }
  
  h1.shop{
      padding-bottom: 70px;
      transform: translateX(10%);
      width:1000px;
  }
  
  div.shop_shop{

    background-color: hsla(0,0%,100%,.7);
    height:250px;
    width: 300px;
    text-align: center;
    border:1px solid black;
    margin-left: 25px;
    display: none;
    position: absolute;
    z-index: 2;

  }


  div.shop1{
      height:200px;
      padding:0 10px;
      transform: translateY(-100%);
  }

  div.shop2{
    transform: translateY(-100%);
    padding:0 10px;
    margin-bottom: 5px;
    height:220px;
  }

  div.shop3{
      height:220px;
      transform: translate(10%,-100%);
  }

  div.shop:hover div.shop_shop{
      display: block;
  }

  div.shop>img:hover{
      border:2px solid #be3128;
  }

  div.shop_shop span.fav{ 
      transform: translateY(5%);
  }

  div.shop_third{
      width:400px;
  }

  div.shop_first,div.shop_second{
      display: inline-block;
      transform: translate(60%);
  }

  div.shop_third{
      transform: translate(20%,-100%);
      width:400px;
  }

  


  

  div.h7{
    background-color: #f1d9c9;
    height:700px;
    }

    div.h7 h1{
        margin-bottom: 30px;
    }
    
    img.trans{
      height:400px;
    }
    div.h7p{
      background-color: white;
      height:400px;
      width:486px;
      transform: translate(50%,-101%);
    }
    
    img.mrt,img.bus,img.car{
      height:30px;
    }
    
    
    img.trans,div.h7p{
      display: inline-block;
      border:1px solid black;
    }
    
    div.car{
      padding:10px 20px;
    }
    div.mrt{
      padding:15px 20px;
    }
    
    img.end{
      width:200px;
    }
    
    h1 img{
        width:30px;
    }
    h1.h4 img{
        width:35px;
    }

    div.f{
        border:1px solid black;
        width:330px;
        height: 480px;
        padding-top:10px;
        margin-top: 30px;
    }
    
    
    
    img.main{
        height:200px;
    
    }
    
    div.f p{
        width:290px;
        margin:0 auto;
    }
    

    div.f3{
        width:400px;
        transform: translateY(-4.5%);
    }
    div.fancy2{
        transform: translateY(-4.5%);
    }

    div.f3>img{
        height:200px;
        width:190px;

    }

    div.f3 p{
        width:350px;
        margin: 0 auto;
    }

    img.f2,img.f3{
        display: inline-block;
    }

    div.fancy2 p,div.fancy4 p{
        padding-right: 10px;
        padding-left: 10px;
    }
    span.address img{
        width:18px;
        margin-right: 5px;
        margin-left: 20px;
    }
    
    span.address{
        margin-right: 5px;
    }
    div.f h2,span.address{
        display: block;
    }
    
    span.address,span.fav{
        display: inline-block;
    
    }

    h2,span.fav{
        display: inline-block;
    }
    span.fav img{
        width:20px;
    }
    
    span.favhover{
        display:none;
    }
    
    span.fav:hover span.favhover{
        display: inline;
    }
    
    span.fav:hover img.favimg{
        display: none;
    }

    div.fancy2,div.fancy4,div.f3{
        display: inline-block;
    }

    span.address,span.fav{
     transform: translateY(-50%);
    }
    
    div.h4{
        width:1200px;
        margin:0 auto;
        /* transform: translateY(30px); */
        height:650px;

    }

    div.h3{
        height:250px;
    }

    h1.h4{
        width:1000px;
        margin:0 auto;
        transform: translateX(4%);
        
    }


    div.f span.fav{
        margin-right: 10px;
    }

    div.f span.fav img{
        margin-right: 10px;
    }

    
    div.tour{
        font-size: 16px;
        width:1200px;
        height:700px;
        position: relative;
    }
    
      img.tour{
        height:200px;
      }
    
      
      div.tourh1{
        position: relative;
        z-index: 1;
        width:1000px;
      }
      
      div.h1p{
        background-color:hsla(0, 0%, 0%, 0.4);;
        width:400px;
        text-align: center;
        padding: 5px 15px;
        /* position:absolute; */
        transform: translate(-80%,-280%);
        margin-top: 30px;
        margin-right: 20px;
        color: white;
        font-size: 16px;
      }
      
      
      div.tourh1,div.h1p{
        display: inline-block;
      }
      
      img.here{
          height:400px;
          text-align: left;
          transform: translate(-50%,-20%);
        
      }
      div.tourh1>img,div.imgpart1{
          display: inline-block;
      }

      div.imgpart1{
      
        transform: translateX(-50%);
          
      }

      div.imgpart2{
        width:850px;
        transform: translate(30%,-100%);
        text-align: right;
    
      }

      img.spot{
          width:25px;
          padding-right: 10px;

      }

      div.spots{
          height: 50px;
          width:170px

      }

      div.spot1,div.spot2{
          margin-left: 50px;
      }

      div.spot3,div.spot4{
        transform: translateX(350%);
      }

      h1.tour{
          width:1000px;
          margin:0 auto;
         margin-left: 140px;
        padding-bottom: 60px;
        
      }

    

      

      

      