main{
  background-color: #f1d9c9;
  height: 1400px;
}

body{
  margin: 0;
}

div.gift>a{
  color:#be3128;
  font-weight: bold;
}

div.bread span:first-child a{
  text-decoration: none;
  color:#1a1a1a;

}

div.bread span:first-child a:hover{
  color: #be3128;
  font-weight: bold;
}


div.form img{
  width:20px;
  margin-bottom: -10px;
}

div.form input{
  height:22.34px;
}

div.form button{
  height: 22.34px;
  margin-left: -4px;
  margin-bottom: -2px;
  
}

div.form{
  margin-right: 0;
  text-align: right;
  padding-bottom: 10px;
  width:1000px;
}

div.form,div.bread{
  display: inline-block;
}

span.shop{
  color:#be3128;
}

div.bread{
  padding-top: 20px;
  padding-left: 10px;
}

.item > a img {
  /* height:250px; */
  width: 250px;
  height: auto;
  border:2px solid#be3128;
}

.item a {
  display: block;
}



div.item1p{
  width:200px;
  padding: 3px 10px;
}

div.item1p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item1p img{
  width:25px;
}

img.cart_one{
  padding-left: 3px;
}



div.item2p{
  width:200px;
  padding: 3px 10px;
}

div.item2p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item2p img{
  width:25px;
}

div.item2{
  transform: translate(5%,25%);
}


div.item3p{
  width:200px;
  padding: 3px 10px;
}

div.item3p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item3p img{
  width:25px;
}

div.item3{
  transform: translate(10%,40%);
}


div.item4p{
  width:200px;
  padding: 0px 10px;
}

div.item4p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item4p img{
  width:25px;
}



div.item5p{
  width:200px;
  padding: 3px 10px;
}

div.item5p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item5p img{
  width:25px;
}





div.item6p{
  width:200px;
  padding: 3px 10px;
}

div.item6p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item6p img{
  width:25px;
}




div.item7p{
  width:200px;
  padding: 3px 10px;
}

div.item7p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item7p img{
  width:25px;
}

div.item7{
  padding-bottom: 10px;
  margin-top: 20px;
}





div.item8p{
  width:200px;
  padding: 3px 10px;
}

div.item8p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item8p img{
  width:25px;
}

div.item8{
  margin-top: 20px;
}

div.item>a img:hover{
  border:2px solid#74af5a;
}


div.item9p{
  width:200px;
  padding: 3px 10px;
}

div.item9p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item9p img{
  width:25px;
}

div.item9{
  margin-top:40px;
}



div.item10p{
  width:200px;
  padding: 3px 10px;
}

div.item10p span{
  display: block;
  padding-left: 3px;
  text-align: center;
}

div.item10p img{
  width:25px;
}



div.items{
 padding:20px;
 column-count: 3;
 column-gap: 30px;
 column-width: 50px;
 width:1200px;
 margin: 0 auto;
}



img.favimg,span.favhover img{
  display: inline-block;
}

span.favhover img{
  display: none;
  
}

span.fav:hover span.favhover img{
  display: inline;

}

span.fav:hover img.favimg{
  display: none;
}

div.item_p{
  padding-bottom: 10px;
  margin-left: 10px;
}

div.pagination_block{
  display: inline-block;
  width:1200px;
  margin-top: 10px;
  text-align: center;
}

div.pagination_block > ul.pagination{
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}
div.pagination_block > ul.pagination > li{
  display: inline-block;
}
div.pagination_block > ul.pagination > li > a{
  display: inline-block;
  text-decoration: none;
  
  border: 1px solid #1a1a1a; /* 留意 */
  border-right: 0;          
  
  text-align: center;
  padding: 5px 10px;
  font-size: 1rem;
  color: #1a1a1a;
}


div.pagination_block > ul.pagination > li:last-child > a{
  border-right: 1px solid #1a1a1a;
  border-radius: 0 5px 5px 0;
}

div.pagination_block > ul.pagination > li:first-child > a{
  display: inline-block;
  border-radius: 5px 0 0 5px;
}

div.pagination_block > ul.pagination > li > a.-on{

  color: #1a1a1a;
}

div.pagination_block > ul.pagination > li > a:hover{
  background-color: #e9ecef;
  font-weight: bold;
}


